body {
    background-color: rgb(168, 222, 231);
}

p {
    color: black;
    font-family: MV Boli;
    font-size: 150%;
}

h1 {
    color: black;
    font-family: Impact;
    font-size: 150%;

}

h2 {
    color: black;
    font-family:  MV Boli;
    font-size: 200%;
}
