<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Identify Country</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div align="center">
<form action="/ui/number" method="get">
    <fieldset>
        <h1>Identify Country</h1>
        <input type="text" name="number" id="number"/>
    </fieldset>
    <fieldset>
        <button type="submit" class="button button_sizeLarge button_default">Search</button>
    </fieldset>
</form>
</div>
</body>
</html>

