
:root {
    --default:  #72aaeb;
}

.button {
    color: black;
    font-family: Impact;
}

button:hover {background: gold}
.button_sizeLarge       { font-size: large; }
.button_default     { background-color: var(--default) }

