
:root {
    --defence:  #72aaeb;
    --attack:   #da6e53;
    --pass:     #1edf75;
}

.button {
    color: black;
    font-family: Impact;
}

button:hover {background: gold}


/* Размер кнопок выбора */
.button_sizeNormal      { font-size: normal; }
.button_sizeLarge       { font-size: large; }
.button_sizeSmall       { font-size: small; }

/*Цвет кнопок выбора */
.button_defence     { background-color: var(--defence) }
.button_attack      { background-color: var(--attack) }
.button_pass     { background-color: var(--pass) }