<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Identify Country</title>
    <link rel="stylesheet" href="bemStyle.css">
</head>
<body>
<div align="center">
            <br>
            <input type="text" placeholder="Please enter phone number:" th:field="*{number}"/>
            <br>
        <section class="SearchButton">
            <p><a href="/ui/find"> Search Country by phone number </a></p>
            <button type="submit" class="button button_sizeLarge button_default">Search</button>
        </section>

</div>
</body>
</html>